/*
Navbar.css é o arquivo de estilo do componente Navbar.jsx.
Aqui definimos o estilo do componente Navbar, que é o componente que contém os links de navegação entre as páginas da aplicação.
*/

.navbar {
    display: flex; /*Coloca os elementos lado a lado */
    justify-content: space-between; /*Coloca o título pra esquerda e os links pra direita, deixando um espaço no meio*/
    align-items: center; /*Alinha os itens no meio da navbar, na vertical*/

    padding: 16px 32px;

    background-color: #2c3e50;
}

.navbar-title {
    color: white;
    margin: 0;
}

.navbar-links {
    display: flex;
    gap: 24px; /*Coloca espaçamento entre os links sem precisar usar margin*/
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links a:hover {
    text-decoration: underline;
}